@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, #BFAE8E, #F2DDB6 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #302416;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #594328;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    text-align: center;
    text-shadow: 1px 1px 2px #271d11 ;
}

h2 {
    color: #8C6E49 ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

p{
    text-align: justify;
}