@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação*/

body {
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: red;
}

a {
    color: brown;
    text-decoration: none;
}